.nav {
  // display: flex;
  justify-content: end;
}

.menuSeparator {
  padding: 5px 0;
}

.link {
  padding: 5px;
  display: inline-block;
  margin: 0px 5px;
  text-decoration: none;
  color: #000;
}

.link:global(.active) {
  font-weight: bold;
}
